


.main-header {
	text-align: center;
}

h1{

	font-size: 60px;
	color: #74c8d2;
	text-align: center;
}
h2{
	font-size: 
	color:;


}

p{
	text-align: center;
	color:darkslateblue;
	font-size: 20px



}

img{
		float:right;
		border-width: 20px;
		padding-top: blue;
}